<div class="container mt-5 text-center bg-light p-4 rounded">
    <h1>Shopping Cart</h1>
    <p>These are the products in your cart</p>

    <div id="shoppingCart" class="row mt-5">
        <ul id="cartList" class="list-group w-100"></ul>
    </div>
</div>

<script>
    
</script>