<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">


<div class="container text-center mt-5">
    <h1>Welcome to Kalles Record Shop</h1>
    <p>Feel free to browse our wide selection of vinyl records!</p>
    <a href="/products" class="btn btn-primary">View Products</a>
</div>