<div class="container mt-5">
    <a href="/products" class="btn btn-secondary">Back</a>
    <h1>{{record.record_title}}</h1>
    <p>Price: {{record.price}} €</p>
    <div class="container mt-4 bg-light rounded mb-4 p-2">
        <p>{{record.description}}</p>
    </div>

    {{#each record.image_src}}
        <img 
            src="/images/{{this}}.jpg" class="img-fluid rounded mb-3"
            onerror="this.onerror=null; this.src='/images/placeholder.jpg';"
        >
    {{/each}}    
</div>
