<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>This is my header</h1>
        <nav>
            <p>Some navigation:</p>
            <a href="/">Home</a> | <a href="/about">About</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; Karl Crotts</p>
    </footer>
</body>
</html>